*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

body{
    background-color: #e9e7df;
}

.grande{
    display: flex;
}

.iz{
    align-items: center;
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 28px;
    padding-left: 30px;
    width: 50%;
}

.der{
    width: 50%;
    background-color: #1f1e21;
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 437px;
}

.tit{
    height: 72px;
    color: #e9e7df;
    letter-spacing: 8px;
    font-size: 15px;
    text-align: center;
}

.imn{
    height: 119px;
    display: flex;
    gap: 30px;
    margin-bottom: 35px;
}

.imn div{
    
    transition: transform ease-in-out 0.2s;
}

.imn div:hover{
    transform: scale(1.1);
}

.form{
    background-color:#e9e7df;
    height: 70px;
    border-radius: 10px;
    height: 427px;
    padding-top: 20px;
    width: 437px;
}

input{
            border-radius: 7px;
            background-color: #1f1e21;
            width: 400px;
            height: 41px;
            color: #e9e7df;
            padding-left: 8px;
        }

        select{
            border-radius: 7px;
            background-color: #1f1e21;
            width: 400px;
            height: 41px;
            color: #e9e7df;
            padding-left: 8px;
        }
        
label{
    text-align: left;
}

button{
    margin-left: 15px;
    background-color: #1f1e21;
    border-radius: 7px;
    height: 30px;
    width: 70px;
    margin-top: 15px;
    color: #e9e7df;
    transition: transform ease-in-out 0.1s;
}

button:hover{
    background-color: #413f44;
    transform: scale(1.05);
}


        .mensaje{
            text-align: center;
            color: rgb(0, 0, 0);
        }